
h1.mainHeadline {font-size: 38px; 
               font-family: Verdana, Arial, Tahoma, sans-serif; 
			   text-align: center;}
			   
#mainPic {text-align: center;}

#mainPgFooter {text-align: center;}

#form {text-align: center;}

a {text-decoration:underline;}
a:hover {cursor:pointer;}

span.italic {font-style:italic;
             font-family:Verdana,Arial,sans-serif;
			 font-size:14px;}

#TZ {text-align:right;
     margin-right:50px;}
	 
#tzText  {font-family:Verdana,Arial,sans-serif;
         font-size: 14px;}

#visitor {text-align:left;
            font-family:Verdana,Arial,sans-serif;
			font-size:25px;
			margin-left:75px;}

#left {float:left;
       width:300px;
       margin-left:75px;}
	   
#right {float:left;
       width:300px; }
	   
#mainContent{text-align:left;
            font-family:Verdana,Arial,sans-serif;
			font-size:20px;
			margin-left:300px;}

#linkNav {text-align:left;
            font-family:Verdana,Arial,sans-serif;
			font-size:14px;
			margin-left:100px;}	
			
body {font-family:Verdana,Arial,sans-serif; }